APP_ID=hydra-server
PORT=3001
LOG_LEVEL=debug
REQUEST_LIMIT=100kb
SESSION_SECRET=mySecret

OPENAPI_SPEC=/api/v1/spec
OPENAPI_ENABLE_RESPONSE_VALIDATION=false

# OIDC Provider (Dex is the broker, Keycloak is behind it)
OIDC_ISSUER=http://dex:5556/dex
OIDC_CLIENT_ID=hydra-server
OIDC_CLIENT_SECRET=hydra-server-secret
OIDC_REDIRECT_URI=http://hydra-server:3001/callback

API_IDENTIFIER=http://api.localhost


CLIENT_ID=<YOUR AUTH0 SERVICE CLIENT CLIENT_ID>
CLIENT_SECRET=<YOUR AUTH0 SERVICE CLIENT CLIENT_SECRET>