API_IDENTIFIER=http://api.localhost
APP_ID=hydra-server
AUTH0_DOMAIN=<YOUR AUTH0 DOMAIN>
CLIENT_ID=<YOUR AUTH0 SERVICE CLIENT CLIENT_ID>
CLIENT_SECRET=<YOUR AUTH0 SERVICE CLIENT CLIENT_SECRET>
LOG_LEVEL=debug
OPENAPI_ENABLE_RESPONSE_VALIDATION=false
OPENAPI_SPEC=/api/v1/spec
PORT=3001
REQUEST_LIMIT=100kb
SESSION_SECRET=mySecret